// gradient barra superior
$gradient-left-light: #4180F6 100%;
$gradient-left-dark: #2E32FB 100%;
$gradient-right-light: #F7C9F3 0%;
$gradient-right-dark: #EE3EFE 0%;
$gradient-percentage: 270deg;

// fonts
$font-regular: 'Chakra Petch', sans-serif;
$font-bold: 'Chakra Petch', sans-serif;
$font-white: #FFFFFF;
$font-black: #110038;

// background
$light-background:#fff4fd;
$dark-background: #110038;

// buttons
$light-pink-btn: #F7C9F3;
$dark-pink-btn: #EE3EFE;

// search box
$light-grey-search: #E6E6E6;
$dark-grey-search: #B4B4B4;

//hover-btns
$light-li-button-hover: #FFF4FD;
$dark-li-button-hover: #2E32FB;
$light-menu-btn-hover :#e6bbe2;
$dark-menu-btn-hover: #CE36DB;

//change theme
$light-cont-changer: #e7e7e7;
$light-btn-changer: #F0F0F0;
$dark-btn-changer: #CCCCCC;